@import (reference) "../bootstrap-3.0.0/forms";

[it-car-cost] {
  @slider-color: lighten(blue, 10%);
  width: 300px;

  input {
    .form-control;
  }

  .slider_wrapper {
    .ui-slider {
      //margin-left: 2px;
      //margin-right: 2px;
      border: none;
      border-top: 1px solid @slider-color;
      border-radius: 0 0 0 0;
      background: none;
    }

    .ui-slider-handle {
      cursor: pointer;
      outline: none;
      background: none;
      border: none;
    }

    .ui-slider-handle {
      background: none;
      border: none;
    }

    .ui-slider-handle::before {
      content: '';
      position: absolute;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 6px solid;
      border-bottom-color: @slider-color;
    }

    .ui-slider-handle::after {
      content: '';
      position: absolute;
      top: 6px;
      left: 0;
      width: 16px;
      height: 12px;
      background-color: @slider-color;
      -webkit-transition: box-shadow .1s ease;
      transition: box-shadow .1s ease;
    }
  }

  .range {
    .clearfix;
    & > span:nth-child(1) {
      float: left;
    }

    & > span:nth-child(2) {
      float: right;
    }
  }

  @media all and (max-width: @screen-xs-max) {
    width: 100%;
  }
}

