.it-extra-parameters {

  &__confirm {
    text-align: center;
  }

  &__price {

    font-size: 1.8em;

    @media all and (max-width: @screen-xs-max) {
      display: block;
    }
  }

  &__order {
    margin-left: auto;
    margin-right: auto;

    @media all and (max-width: @screen-xs-max) {
      display: block;
    }
  }
}