.it-remain-programs {
  @price-color: #0772a9;
  @discount-color: #ffbf14;
  @border-color: #dfdfdf;
  background: @body-background;
  border-collapse: collapse;
  color: black;
  width: 100%;
  display: table;

  &__template {
    width: 100%;
    display: table-row;
  }

  &__cell {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid @border-color;
    border-top: 1px solid @border-color;

    vertical-align: middle;
    display: table-cell;

    @media all and (max-width: @screen-xs-max) {
      text-align: center;
      display: block;

      &:last-child {
        border-bottom: 5px solid @border-color;
      }
    }
  }

  &__title {
    img {
      max-height: 60px;
    }
  }

  &__price {
    font-size: 1.8em;
    font-weight: bold;
    color: @price-color;
  }

  &__discount {
    color: @discount-color;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
  }

  &__options {
    hr {
      display: none;
    }
  }
}